    <ul class="nav flex-column purple-gradient py-4 mb-r font-weight-bold z-depth-1">
      <li class="nav-item">
        <a [routerLink]="['/interventions', 'list']" class="nav-link white-text" routerLinkActive="router-link-active">Interventions</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/clients', 'list']" class="nav-link white-text" routerLinkActive="router-link-active">Clients</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/login']" class="nav-link white-text" routerLinkActive="router-link-active">Connexion</a>
      </li>
    </ul>
