.nav a.white-text:hover { color: #e0e0e0!important; }
a{
  color: white;
  line-height: 30px;
}
.nav{
  min-height: 100%;
}
.purple-gradient {
  background: rgb(28,167,240);
  background: linear-gradient(180deg, rgba(28,167,240,1) 0%, rgba(6,252,166,1) 100%);
}
