<app-template-b
title="Prestations"
label="la listes des prestations SUPER PWA QUI SE MET A JOUR TOUTE SEULE !!!  ">

<app-tableau
[headers]="prestationHeaders">

  <tr *ngFor="let presta of collection$ | async">
    <td> {{ presta.client}} </td>
    <td> {{ presta.duree}} </td>
    <td> {{ presta.tjmHt | currency:'EUR'}} </td>
    <td> {{ presta | total | currency:'EUR'}} </td>
    <td> {{ presta | total:'ttc' | currency:'EUR'}} </td>
    <td> {{ presta.tva}} % </td>
    <td>
      <select [(ngModel)]="presta.type"
      (change)="changeType(presta , $event)"
      [appTypeColor]="presta"  class="form-control">
        <option  *ngFor="let type of typesPrestations"
        [value]="type" >{{ type }}
      </option>
      </select>


    </td>
    <td> {{ presta.status}} </td>
    <td>
      <button (click)="edit(presta)">Modifier</button>
      <button (click)="delete(presta)">Supprimer</button>
    </td>


  </tr>

</app-tableau>


</app-template-b>
