<div class="container">
  <form (ngSubmit)="register()"  [formGroup]="myForm" >

      <div class="form-group">
          <label>client</label>
          <input type="text" formControlName="client"
          placeholder="Veuillez saisir un client" class="form-control"
          [ngClass]="{'is-invalid' : myForm.get('client').invalid }"
          >

          <span *ngIf="myForm.get('client').invalid && myForm.get('client').touched">
            Ce champs est obligatoire </span>
        </div>

        <div class="form-group">
            <label>duree</label>
            <input type="number" formControlName="duree" class="form-control" >
          </div>

          <div class="form-group">
              <label>tjmHt</label>
              <input type="text" formControlName="tjmHt" class="form-control" >
            </div>


    <div class="form-group">
      <label>tva</label>
      <input type="text" formControlName="tva" class="form-control" >
    </div>

    <div class="form-group">
      <label> type de prestation</label>
      <select formControlName="type" class="form-control">
        <option *ngFor="let type of typePrestations | keyvalue" [value]="type.value">
          {{type.value}}</option>

      </select>
    </div>
    <div class="form-group">
        <label> status de prestation</label>
        <select formControlName="status" class="form-control">
          <option *ngFor="let status of statusPrestations | keyvalue" [value]="status.value">
            {{status.value}}</option>

        </select>
      </div>


    <button type="submit" [disabled]="myForm.invalid"> VAlider </button>
  </form>


</div>
